body { 
    padding-top: 70px;
    font-size: 18px;
}

.keywords span {
    margin-right: 5px;
}

.formats span {
    margin-right: 5px;
}

.terms {
    height: 60px;
}

#search-result {
    font-size: 32px;
    text-align: right;
}

.info-trigger {
    color: blue;
    font-size: 19px;
    top: 4px;
}
