body { 
    padding-top: 70px;
    font-size: 18px;
}

.terms {
    height: 60px;
}

#search-result {
    font-size: 32px;
    text-align: right;
}

.info-trigger {
    color: blue;
    font-size: 19px;
    top: 4px;
}

.preview-iframe {
    width: 485px;
    height: 415px;
}
